main {
    font-family: arial, sans-serif;
}

body {

  margin: auto;
  padding-top: 0px;
}

#nav-link {
    flex-direction: row;
    font-family: arial, sans-serif;
    font-size: 15px;  
    olor: black;
    
}

#nav-link a {
    padding: 12px 0px;
    margin: 0 12px;
}

#left_nav {
    top: 10px;
    position: relative;
    float: left;
    text-align: center;
    text-decoration: none;
    color: inherit;
    
}

#right_nav {
    top: 10px;
    position: relative;
    float: right;
    text-align: center;
    color: inherit;
}

#Sign_in {
    margin: 10px;
    background-color: #0188BF;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 12px 20px 12px 20px;
    font-weight: bold;
    font-size: 12px;
   
    
}

#google-logo {
    margin: 0;
    padding-top: 109px;
    padding-left: 450px;
    width: 272;

}

#search_bar {
  padding: 10px 150px 10px 150px;
  position: relative;
  border-radius: 10px;
  margin-left: 35%;
}

.button {
    background-color: #DFDFDF;
    color: #5E5E5E;
    font-family: arial, sans-serif;
    padding: 10px 15px 10px 15px;
    text-align: center;
    border-radius: 4px;
    font-size: 15px;
}

.button:hover {
    border: 1px solid;
    color: black;

}

footer {
    background-color: #DFDFDF;
    color: #5E5E5E;
    flex-direction: row;
    text-align: center;
    font-family: arial, sans-serif; 
    font-size: 15px;

    
    
  }

#left_footer {
    top: 10px;
    position: relative;
    float: left;
    text-align: center;
    color: inherit;

#right_footer {
    top: 10px;
    position: relative;
    float: right;
    text-align: center;
    color: inherit;
}

li {
    float: left;
}


