main {
    font-family: arial, sans-serif;
}

body {

  margin: 0 auto;
  padding-top: 0;
}

li {
    float: left;
    list-style: none;
    margin: auto;
 }


.li-nav {
    padding-right: 15px;
    padding-top: 10px;
    font-size: 13px;
}

#nav-link {
    flex-direction: row;
    font-family: arial, sans-serif;
    font-size: 15px;  
    color: black;
    
}

#nav-link :hover {
    text-decoration: underline;
}
#nav-link a {
    padding: 12px 0px;
    margin: 0 12px;
    text-decoration: none;
    color: black;
   
}

#left_nav {
   
    position: relative;
    float: left;
    text-align: center;
    text-decoration: none;
    color: inherit;
    
}

#right_nav {
   
    position: relative;
    float: right;
    text-align: center;
    text-decoration: none;
    color: inherit;
}


#Sign_in {
    background-color: #4c8bf5;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 10px 15px;;
    font-weight: bold;
    font-size: 12px;
    margin: auto;

   
    
}

.contrainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      
}
#google-logo {
    margin: 0 auto;
    padding-top: 109px;
    display: block;


}

#search_bar {
  padding: 10px 150px 10px 150px;
  position: relative;
  border-radius: 10px;
  display: block;
  margin: auto;
}

.button {
    background-color: #DFDFDF;
    color: #5E5E5E;
    font-family: arial, sans-serif;
    padding: 10px 15px 10px 15px;
    text-align: center;
    border-radius: 4px;
    font-size: 15px;
    border: 1px solid #f2f2f2;
}

.button:hover {
    border: 1px solid;
    color: black;
    border-color: darkgrey;

}

footer {
    background-color: #DFDFDF;
    color: #5E5E5E;
    flex-direction: row;
    text-align: center;
    font-family: arial, sans-serif; 
    font-size: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;

    
    
  }

  footer a {
    text-decoration: none;
    color: #5E5E5E;
  }

  footer :hover {
    text-decoration: underline;
}
.li-footer {
    padding-left: 27px;
    font-size: 14px;
}

#left_footer {
    
    position: relative;
    float: left;
    text-align: center;
    color: inherit;
    padding: 3px 15px;
}

#right_footer {
  
    position: relative;
    float: right;
    text-align: center;
    color: inherit;
    padding: 3px 15px;


